
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  line-height: 1;
  background: #B6D6E2;
  color: #FFFFFF;
}

.container {
  margin: 2%;
}

input {
  display: none;
}

.slides {
  width: 75vw;
  background: #003D74;
  border-radius: 1rem;
  padding: 2%;
  box-shadow: 0 0 2.5rem 0.4rem rgba(0, 0, 0, 0.75);
}

.slides__image_content {
  max-width: 100%;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.slides__image {
  display: flex;
  transition: all 0.5s ease;
  height: 40vw;
}

.image {
  display: inline-block;
  min-width: 100%;
  border-radius: 0.4rem;
  width: 100%;
  height: max-content;
  object-fit: cover;
}

.slides__controls {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
}

.slides__text_content {
  width: 50%;
  overflow: hidden;
}

.slides__text {
  display: flex;
  transition: all 0.5s ease;
}

.text {
  min-width: 100%;
  font-size: 4vw;
}

.slides__button_content {
  max-width: 45%;
}

.slides__button {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.slide__label {
  padding: 1rem;
  cursor: pointer;
  user-select: none;
}

.button {
  display: inline-block;
  width: 2.5rem;
  height: 2.5rem;
  background: #003D74;
  border-radius: 50%;
  border: 0.5vw solid #C6D9DF;
  transition: all 0.4s ease;
  box-shadow: 0 0 25px 1px rgba(0, 0, 0, 0.4);
}

#slide1:checked ~ .slides .label1 .button,
#slide2:checked ~ .slides .label2 .button,
#slide3:checked ~ .slides .label3 .button,
#slide4:checked ~ .slides .label4 .button,
#slide5:checked ~ .slides .label5 .button {
  background: #B6D6E2;
  transform: scale(1.25);
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.75);
}

#slide1:checked ~ .slides .slides__image,
#slide1:checked ~ .slides .slides__text {
  transform: translateX(0);
}

#slide2:checked ~ .slides .slides__image,
#slide2:checked ~ .slides .slides__text {
  transform: translateX(-100%);
}

#slide3:checked ~ .slides .slides__image,
#slide3:checked ~ .slides .slides__text {
  transform: translateX(-200%);
}

#slide4:checked ~ .slides .slides__image,
#slide4:checked ~ .slides .slides__text {
  transform: translateX(-300%);
}

#slide5:checked ~ .slides .slides__image,
#slide5:checked ~ .slides .slides__text {
  transform: translateX(-400%);
}

@media (hover: hover) {
  .slide__label:hover .text {
    background: #C6D9DF;
  }
  .slide__label:active .text {
    background: #C6D9DF;
  }
}

@media (max-width: 1020px) {
  html {
    font-size: 9px;
  }
  .slides__controls {
    flex-direction: column-reverse;
  }
  .slides__text {
    margin-top: 3rem;
  }
  .text {
    width: 100%;
  }
  .slides__button_content {
    max-width: 225px;
    margin: 0 auto;
  }
}

@media (max-width: 680px) {
  html {
    font-size: 6px;
  }
}

@media (max-width: 420px) {
  html {
    font-size: 6px;
  }
}




